black # formatter

# itertools : pas installable par pip, module intégré de python

gymnasium

matplotlib
numpy

pandas
plotly
# psycopg2-binary # ! pour ubuntu et mac os -binary : TODO tester avec des venv qu'on a bien tous les requirements
# NUL PART APPELER 
pygame
pytest

seaborn 
stable_baselines3
streamlit
sqlalchemy 

# TODO SUPPR ??
