black # formatter

itertools

gymnasium

matplotlib
numpy

pandas
plotly
psycopg2-binary # ! pour ubuntu et mac os -binary : TODO tester avec des venv qu'on a bien tous les requirements
pygame
pytest

seaborn 
stable_baselines3
streamlit
sqlalchemy 
