gymnasium

matplotlib
numpy

pandas
plotly
pygame
pytest

seaborn 
stable_baselines3
streamlit
sqlalchemy 

black # formatter

# DB
psycopg2-binary # ! pour ubuntu et mac os -binary : TODO tester avec des venv qu'on a bien tous les reuirements

itertools